h1{
    color:white;
    margin-left: 450px;
}

ul{
    list-style: none;

}
.button{
    float:right;
}
.img-responsive{
    width:50%;
    height:0%;
}
.well1{
    background-color:white;
    width:50%;
    height:100%;
}
@media only screen and (max-width: 493px) {
body
{
   
    overflow-x: hidden; 
}
}
